body {
    background-color: rgb(171, 216, 255);
}
.t1tle{
    margin: 0px;
    display: flex;
}
.t1tle > h1 {
    margin-left: 550px;
    text-align: center;
}
.t1tle > span {
    text-decoration: underline;
}
.t1tle > p {
    font-size: larger;
    font-style: oblique;
}
.task1{
    display: block;
}
.task1 > h2 {
    text-align: center;
}
.press1{
    display: inline;
}
.press1>h3{
    display: inline;
}
.press1>button{
    margin-right: 5px;
    margin-top: 15px;
    max-height: 30px;
    display: inline;
}
.press1>button:hover{
    background-color: rgb(150, 150, 150);
}
.press2{
    display: inline;
}
.press2>h3{
    display: inline;
}
.press2>button{
    margin-right: 5px;
    margin-top: 15px;
    max-height: 30px;
    display: inline;
}
.press2>button:hover{
    background-color: rgb(150, 150, 150);
}
.press3{
    display: inline;
}
.press3>h3{
    display: inline;
}
.press3>button{
    margin-right: 5px;
    margin-top: 15px;
    max-height: 30px;
    display: inline;

}
.press3>button:hover{
    background-color: rgb(150, 150, 150);
}
.task2 {
    text-align: center;
}

.tic-tac-toe{
    margin-top: 50px;
    line-height: 0px;
}

#area{
    width: 306px;
    border: 2px solid #000;
    display: inline-block;
    background-color: rgb(100, 160, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}

.cell{
    border-color: rgb(40, 126, 255);
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    border: 1px solid #000;
    cursor: pointer;
    vertical-align: middle;
    transition: backgrond .1s;
}

.cell:hover{
    background-color:rgb(40, 126, 255);
}

.queue {
    font-size:large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}
.menu {
    position: absolute;
    display: inline-block;
    margin: 0px;
    left: 33%;
    border-style: solid;
    width: 155px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}
.menu p {
    margin: 2px;
    margin-left: 7px;
    margin-right: 7px;
    display: inline-block;
    font-size: large;
}
#curPlayer{
    color:blue;
}
.menu span {
    font-style: normal;
    font-weight:bolder;
}